.top-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#players{
    display: flex;
}

#jugador{
     margin: 40px;
}
img{
    width: 300px;
    height: 300px;
}
#botton-row{
    padding: 20px;
    font: 20px Arial; 
    text-align: center;
}
.vida{
     width: 320px ;
     height: 400px;
     visibility: hidden;
}
.button-style{
    background-color: white;
    border: 5px solid;
    border-color: black;
    font: 10pt Arial;
    border-radius: 20px;
    padding: 10px 35px;
    font-weight: bold;
}
.button-style:hover:enabled{
    background-color: black;
    color: white;
}
.vida-label{
    font: 18pt Arial;
    font-weight: bold;
    margin-top: 40px;
}

.hp-border{
    width: 295px;
    height: 30px;
    border: 2.5px solid;
    border-color: black;
}

#hp-bar{
    width: 295px;
    height: 30px;
    background-color: green;
}